@charset "UTF-8";
/*Paissagem*/

@media screen and (orientation: portrait) {
    body{
        background: url(../imagem/cev-portrait.jpg);
    }
}
   
    


body{
    background: url(../imagem/cev-landscape.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}